@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<style>
    .fade-text {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }

    .fade-out {
        opacity: 0;
    }
</style>

<div class="text-center";>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <h2 id="introText" class="text-center fw-bold text-success fade-text">
            Добро пожаловать в Expense Tracker
        </h2>
    </div>

     @section Scripts {
        <script>
            const phrases = [
                "Добро пожаловать в Expense Tracker",
                "Следите за своими расходами",
                "Контролируйте бюджет легко",
                "Экономьте с умом",
            ];

            let index = 0;
            const introTextEl = document.getElementById("introText");

            function changeText() {
                
                introTextEl.classList.add("fade-out");

               
                setTimeout(() => {
                    
                    index = (index + 1) % phrases.length;
                    introTextEl.textContent = phrases[index];

                    
                    introTextEl.classList.remove("fade-out");
                }, 600); 
            }

            setInterval(changeText, 3000);
        </script>
     }


    

   
</div>
